body {
  background-image: url('../img/bg6.jpg');
  padding-bottom: 10px;
  margin: 8px;
  overflow: hidden;
}
code {
  color: black;
}

.small-modal {
  width: 330px;
}
.big-modal {
  width: 900px;
  height: 700px;
}

.table {
  table-layout: fixed;
}
.table th,
.table td {
  white-space: nowrap;
  overflow: hidden;
}

/*
.sidebar-nav {
  padding: 9px 0;
}
*/

.edit-body {
  height: 596px;
  padding: 0px;
  max-height: 1000px;
}
.edit-editable {
  height: 596px;
  width: 900px;
}

.copy-body {
  height: 355px;
}
.copy-editable {
  height: 353px;
}
.crop {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}​