body {
  background-image: url('../img/bg3.jpg');
  padding-top: 42px;
  padding-bottom: 10px;
}
.sidebar-nav {
  padding: 9px 0;
}
.copy-body {
  height:400px;
}
.copy-editable {
  margin-left: 0px;
  margin-right: 0px;
  height: 353px;
}
.crop {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}​