body {
  background-image: url('../img/bg6.jpg');
  padding-bottom: 10px;
  margin: 8px;
  overflow: hidden;
}
code {
  color: black;
}

.small-modal {
  width: 330px;
}
.small-modal-box {
  width: 280px;
}
.big-modal {
  height: 700px;
}

/*
.sidebar-nav {
  padding: 9px 0;
}
*/

.big-modal .modal-body {
  height: 596px;
  padding: 0px;
  max-height: none;
}
.edit-editable {
  height: 596px;
}

.crop {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}​