body {
  background-color: #0b2c46;
  background: url('../img/granite_bg.jpg');
  padding-bottom: 10px;
  margin: 8px;
}
code {
  color: black;
}

.connect-container {
  background: #222;
  padding: 20px;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  float: none;
}

.small-modal {
  width: 330px;
}
.small-modal-box {
  width: 280px;
}
.big-modal {
  height: 700px;
}

/*
.sidebar-nav {
  padding: 9px 0;
}
*/

.edit-container {
  height: 500px;
}

.edit-editable {
  height: 490px;
}

.crop {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 500px;
}​