#confirm-modal.modal.fade.small-modal
  .modal-header
    h3 #{title}
  
  .modal-body
    p #{text}

  .modal-footer
    a#confirm-button.btn.btn-danger Continue
    a#confirm-cancel.btn(data-dismiss="modal") Cancel