#connect-modal.modal.small-modal
  .modal-header
    h3 Connect
  
  .modal-body
    input#host.small-modal-box(type="text", placeholder="Host", value="mongodb://localhost:27017/test?auto_reconnect")

  .modal-footer
    a#connect-button.btn.btn-primary Connect