#connect-modal.modal.fade.small-modal
  .modal-header
    h3 Connect
  
  .modal-body
    input#host.span3(type="text", placeholder="Host")
    input#port.span3(type="text", placeholder="Port")
    input#database.span3(type="text", placeholder="Database")

  .modal-footer
    a#connect-button.btn.btn-primary Connect