#connect-modal.modal.fade.small-modal
  .modal-header
    h3 Connect
  
  .modal-body
    input#host.small-modal-box(type="text", placeholder="Host")
    input#port.small-modal-box(type="text", placeholder="Port")
    input#database.small-modal-box(type="text", placeholder="Database")

  .modal-footer
    a#connect-button.btn.btn-primary Connect