#connect-modal.modal.fade.small-modal
  .modal-header
    h3 Connect
  
  .modal-body
    input#host.span3(type="text", placeholder="Host", value="db.vsjs.mdcn.mobi")
    input#port.span3(type="text", placeholder="Port", value="27017")
    input#database.span3(type="text", placeholder="Database", value="squid")

  .modal-footer
    a#connect-button.btn.btn-primary Connect