#edit-modal.modal.fade.big-modal
  .modal-header
    button.close(data-dismiss="modal") &times;
    h3 #{title}
  
  .modal-body.edit-body
    .edit-editable(id="#{id}-edit-view")

  .modal-footer
    a#edit-button.btn.btn-primary #{button}