#edit-modal.modal.fade.span6.big-modal
  .modal-header
    button.close(data-dismiss="modal") &times;
    h3 #{title}
  
  .modal-body
    .span8.edit-editable(id="#{id}-edit-view")

  .modal-footer
    a#edit-button.btn.btn-primary #{button}