#input-modal.modal.fade.small-modal
  .modal-header
    h3 #{title}
  
  .modal-body
    input#input-text.small-modal-box(type="text", placeholder="#{placeholder}")

  .modal-footer
    a#input-button.btn.btn-primary #{button}