div.modal
  form#login
    div.modal-header
      h3 Connect to a database
    div.modal-body
      input.span4(type="text", id="host", placeholder="Host", value="localhost")
      input.span4(type="text", id="port", placeholder="Port", value="27017")
      input.span4(type="text", id="database", placeholder="Database", value="test")
    div.modal-footer
      input.btn.btn-primary(type="submit", value="Connect")