#new-modal.modal.fade.small-modal
  .modal-header
    h3 Create
  
  .modal-body
    input#name.small-modal-box(type="text", placeholder="Name")

  .modal-footer
    a#new-button.btn.btn-primary Create