#rename-modal.modal.fade.small-modal
  .modal-header
    h3 Rename
  
  .modal-body
    input#newname.small-modal-box(type="text", placeholder="New name")

  .modal-footer
    a#rename-button.btn.btn-primary Rename