.well.sidebar-nav
  ul.nav.nav-list
    li
      a(href="#/home")
        i.icon-home.icon-white
        | Home
    li
      a(href="#/settings")
        i.icon-cog.icon-white
        | Settings
    li
      a(href="#/disconnect")
        i.icon-off.icon-white
        | Disconnect
    li.divider

    li.nav-header Collections

    li
      a(href="#/new")
        i.icon-plus.icon-white
        | Create new

    each collection in collections
      li
        a(href="#/collection/#{collection}") 
          i.icon-list-alt.icon-white
          | #{collection}

#editbar